/.gitignore
__pycache__/
old/
/to_do.txt
/config.py
/request_to_api.py
/another_bot_telebot.py
bot/
data/
/main.py
.vscode/
/tg_wheather_bot.service
/auto_update.sh
/get-pip.py
/restart_bot_service.sh
git_logfile.log